@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: josefin;
  src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  transition: 1s;
}

body {
  background-color: rgb(255, 255, 255);
}

/* NAVBAR */

.menu {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  position: fixed;
  transition: 1s;
  z-index: 9999;
}

.menu .logo img {
  width: 120px;
  height: 50px;
  margin-left: 20px;
  filter: invert(100%);
  /* filter: drop-shadow(0px 0px 1px rgb(71, 71, 71)); */
  cursor: pointer;
  transition: 1s;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 100px));
  list-style: none;
  text-align: center;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  transition: 1s;
}

.menu a {
  margin-left: 50px;
  text-decoration: none;
  font-size: 1.2em;
  color: #063375;
  font-family: roboto;
  background-color: rgba(255, 3, 3, 0);
  cursor: pointer;
  transition: 0.2s;
}

.menu a:hover {
  color: #2872e0;
}

/*hamburger menu*/

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #063375;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #063375;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* NAVBAR */

.container {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* TXT 1111111111 */

.txt1 {
  width: 80%;
  height: 800px;
  background-image: url(foto/bgtxt.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 180px;
  padding-left: 50px;
  margin: 0 auto;
  font-family: roboto;
  transition: 1s;
}

.txt1 h3 {
  color: #2872e0;
  font-size: 2em;
  font-family: josefin;
}

.txt1 h1 {
  color: black;
  font-size: 6em;
  transition: 1s;
}

.txt1 h2 {
  color: #2872e0;
  font-size: 2em;
  font-family: josefin;
}

.txt1 p {
  color: rgb(200, 200, 200);
  width: 600px;
  font-size: 1.3em;
  letter-spacing: 1px;
  padding-top: 10px;
}

.txt1 .b1 {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  padding: 3px;
  background-color: #2872e0;
  border: 0px;
  color: white;
  border-radius: 5px;
  text-decoration: double;
  transition: 0.2s;
}

.txt1 .b1 a {
  text-decoration: none;
  color: white;
}

.txt1 .b1:hover {
  color: rgb(255, 255, 255);
  background-color: #063375;
  cursor: pointer;
}

.txt1 .b2 {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  padding: 3px;
  background-color: #ffffff;
  border: 2px solid #2872e0;
  color: #2872e0;
  border-radius: 5px;
  transition: 0.2s;
}

.txt1 .b2 a {
  text-decoration: none;
  color: #2872e0;
}

.txt1 .b2:hover {
  color: white;
  background-color: #dfdfdf;
  border: 2px solid #063375;
  cursor: pointer;
}

/* TXT 1111111111 */

/* TXT 2222222222 */

.txt2 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  margin: 50px auto;
  font-family: roboto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border: 1px solid #2872e0;
  border-radius: 5px;
}

.txt2 h3 {
  color: #2872e0;
  font-size: 4em;
  background-color: #2872e000;
  margin: 10px auto;
  padding: 80px 10px 0px 10px;
  font-family: josefin;
}

.txt2 .service {
  margin: 30px auto;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;
  padding: 100px 180px 100px 180px;
}

.service i {
  font-size: 30px;
}

.service p {
  color: rgb(139, 139, 139);
  font-family: roboto;
  font-style: italic;
  font-size: 15px;
  padding: 10px 20px;
}

.service .radius {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #2872e0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  transition: 1s;
}

.service .radius:hover {
  transform: scale(1.1);
}

.service .s1,
.service .s2,
.service .s3,
.service .s4 {
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 3px 5px grey;
  border: 1px solid #00000000;
}

/* TXT 2222222222 */

/* TXT 3333333333 */

.txt3 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  margin: 50px auto;
  font-family: roboto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border: 1px solid #2872e0;
  border-radius: 5px;
}

.txt3 h3 {
  color: #2872e0;
  font-size: 4em;
  background-color: #2872e000;
  margin: 10px auto;
  padding: 80px 10px 0px 10px;
  font-family: josefin;
}

.txt3 .technology {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;
  padding: 100px 180px 100px 180px;
}

.technology .t1,
.technology .t2,
.technology .t3,
.technology .t4,
.technology .t5,
.technology .t6,
.technology .t7,
.technology .t8,
.technology .t9,
.technology .t10,
.technology .t11,
.technology .t12,
.technology .t13,
.technology .t14,
.technology .t15,
.technology .t16 {
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 3px 5px grey;
}

.t1 img,
.t2 img,
.t3 img,
.t4 img,
.t5 img,
.t6 img,
.t7 img,
.t8 img,
.t9 img,
.t10 img,
.t11 img,
.t12 img,
.t13 img,
.t14 img,
.t15 img,
.t16 img {
  padding-left: 20px;
  padding-right: 7px;
}

.t1 p,
.t2 p,
.t3 p,
.t4 p,
.t5 p,
.t6 p,
.t7 p,
.t8 p,
.t9 p,
.t10 p,
.t11 p,
.t12 p,
.t13 p,
.t14 p,
.t15 p,
.t16 p {
  font-size: 1.2em;
  text-align: left;
  font-family: josefin;
  color: rgb(139, 139, 139);
}

/* TXT 3333333333 */

/* TXT 4444444444 */

.txt4 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  margin: 50px auto;
  font-family: roboto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border: 1px solid #2872e0;
  border-radius: 5px;
}

/*  */

.txt4 h3 {
  color: #2872e0;
  font-size: 4em;
  background-color: #2872e000;
  margin: 10px auto;
  padding: 80px 10px 0px 10px;
  font-family: josefin;
}

.txt4 .work {
  margin: 30px auto;
  background-color: rgba(252, 0, 0, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  padding: 100px 180px 100px 180px;
}

.work h4 {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.work .work2 {
  background-color: rgba(255, 196, 0, 0);
  text-align: start;
}

.work2 li {
  font-size: 2em;
  padding: 5px;
  color: #2872e0;
}

.work .bord {
  border: 1px solid #2872e0;
  border-radius: 20px;
  width: 180px;
}

.work2 li h6 {
  color: #333;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.work2 .tas,
.work2 .mmg,
.work2 .scmi,
.work2 .ahm {
  background-color: rgba(0, 128, 0, 0);
  font-size: 20px;
  padding: 10px 20px;
}

.tas h5,
.mmg h5,
.scmi h5,
.ahm h5 {
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
}

.tas p,
.mmg p,
.scmi p,
.ahm p {
  font-size: 15px;
  font-style: italic;
  color: rgb(139, 139, 139);
}

.linework {
  border: 2px solid #2872e0;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: 100%;
  padding: 10px 21px;
}

/*  */

.txt4 .edu {
  margin: 30px auto;
  background-color: rgba(252, 0, 0, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  padding: 100px 180px 100px 180px;
}

.edu h4 {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.edu .edu2 {
  background-color: rgba(255, 196, 0, 0);
  text-align: start;
}

.edu2 li {
  font-size: 2em;
  padding: 5px;
  color: #2872e0;
}

.edu .bord {
  border: 1px solid #2872e0;
  border-radius: 20px;
  width: 180px;
}

.edu2 li h6 {
  color: #333;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.edu2 .srj,
.edu2 .sma {
  background-color: rgba(0, 128, 0, 0);
  font-size: 20px;
  padding: 10px 20px;
}

.srj h5,
.sma h5 {
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
}

.srj p,
.sma p {
  font-size: 15px;
  font-style: italic;
  color: rgb(139, 139, 139);
}

.lineedu {
  border: 2px solid #2872e0;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: 100%;
  padding: 10px 21px;
}

/* TXT 4444444444 */

/* TXT 5555555555 */

.txt5 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  margin: 50px auto;
  font-family: roboto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border: 1px solid #2872e0;
  border-radius: 5px;
}

.txt5 h3 {
  color: #2872e0;
  font-size: 4em;
  background-color: #2872e000;
  margin: 10px auto;
  padding: 80px 10px 0px 10px;
  font-family: josefin;
}

.txt5 .webp1 {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  padding: 100px 180px 100px 180px;
}

.webp1 h4 {
  color: #2872e0;
  text-align: center;
  text-decoration: underline;
  font-size: 1.8em;
  padding: 20px;
  background-color: rgba(230, 230, 230, 0);
  border-radius: 10px;
}

/*  */

.webp1 .webborder {
  border: 1px solid rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  justify-content: center;
  background-color: rgba(54, 153, 54, 0);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.webborder .wp1,
.webborder .wp2,
.webborder .wp3,
.webborder .wp4,
.webborder .wp5 {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #0acece00;
  display: grid;
  grid-template-rows: 100px 200px;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px grey;
}

.wp1 .wptop,
.wp2 .wptop,
.wp3 .wptop,
.wp4 .wptop,
.wp5 .wptop {
  background-color: rgba(255, 0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  align-items: center;
}

.wp1 .wpbot,
.wp2 .wpbot,
.wp3 .wpbot,
.wp4 .wpbot,
.wp5 .wpbot {
  background-color: rgba(172, 255, 47, 0);
  display: grid;
  align-items: flex-end;
}

.wptop h5 {
  font-size: 1.4em;
  padding: 20px 10px 0px 10px;
}

.wptop p {
  font-size: 0.9em;
  color: rgb(139, 139, 139);
  padding: 0px 10px 0px 10px;
}

.wpbot .img1 {
  background-image: url(foto/company.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 190px;
  margin: 0px auto;
  /* padding-top: 15px; */
  box-shadow: 0px 0px 3px black;
  transition: 0.5s;
  background-position-y: 0px;
}

.wpbot .img1:hover {
  background-position-y: -25px;
}

/*  */

.wpbot .img2 {
  background-image: url(foto/flood.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 190px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 0.5s;
  background-position-y: 0px;
}

.wpbot .img2:hover {
  background-position-y: -25px;
}

/*  */

.wpbot .img3 {
  background-image: url(foto/inventory.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 190px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 0.5s;
  background-position-y: 0px;
}

.wpbot .img3:hover {
  background-position-y: -25px;
}

.wpbot .img4 {
  background-image: url(foto/sales.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 190px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 0.5s;
  background-position-y: 0px;
}

.wpbot .img4:hover {
  background-position-y: -25px;
}

.wpbot .img5 {
  background-image: url(foto/gallery.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 190px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 0.5s;
  background-position-y: 0px;
}

.wpbot .img5:hover {
  background-position-y: -25px;
}

/* WEBSITE */

/* SOSMED */

.txt5 .sosmedp1 {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  padding: 100px 180px 100px 180px;
}

.sosmedp1 h4 {
  color: #2872e0;
  text-align: center;
  text-decoration: underline;
  font-size: 1.8em;
  padding: 20px;
  background-color: rgba(230, 230, 230, 0);
  border-radius: 10px;
}

.sosmedp1 .sosmedborder {
  border: 1px solid rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 325px));
  justify-content: center;
  background-color: rgba(54, 153, 54, 0);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

/*  */

.sosmedborder .sp1,
.sosmedborder .sp2,
.sosmedborder .sp3 {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #2872e000;
  display: grid;
  grid-template-rows: 100px 210px 50px;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px grey;
}

.sp1 .sptop,
.sp2 .sptop,
.sp3 .sptop {
  background-color: rgba(255, 0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  align-items: center;
}

.sp1 .spmid,
.sp2 .spmid,
.sp3 .spmid {
  background-color: rgba(172, 255, 47, 0);
  display: grid;
  align-items: flex-end;
}

.sp1 .spbot,
.sp2 .spbot,
.sp3 .spbot {
  background-color: #2872e000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  align-items: center;
}

.spbot a {
  color: rgb(139, 139, 139);
  font-family: josefin;
}

.spbot a:hover {
  color: #2872e0;
}

.sptop h5 {
  font-size: 1.4em;
  padding: 20px 10px 0px 10px;
}

.sptop p {
  font-size: 0.9em;
  color: rgb(139, 139, 139);
  padding: 0px 10px 0px 10px;
}

.spmid .img1 {
  background-image: url(foto/utd.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 200px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 1s;
  background-position-y: 0px;
}

.spmid .img1:hover {
  background-position-y: -200px;
}

/*  */

.spmid .img2 {
  background-image: url(foto/kkn.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 200px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 1s;
  background-position-y: 0px;
}

.spmid .img2:hover {
  background-position-y: -200px;
}

/*  */

.spmid .img3 {
  background-image: url(foto/himatif.png);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 200px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
  transition: 1s;
  background-position-y: 0px;
}

.spmid .img3:hover {
  background-position-y: -200px;
}

/* VIDEO */

.txt5 .videop1 {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #2872e000;
  border-radius: 5px;
  width: 70%;
  display: grid;
  gap: 10px;
  padding: 100px 180px 100px 180px;
}

.videop1 h4 {
  font-size: 1.8em;
  color: #2872e0;
  text-decoration: underline;
  text-align: center;
  padding: 20px;
  background-color: rgba(230, 230, 230, 0);
  border-radius: 10px;
}

/*  */

.videop1 .videoborder {
  border: 1px solid rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(4, 250, 4, 0);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.videoborder .vp1,
.videoborder .vp2 {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #2872e000;
  display: grid;
  grid-template-rows: 1fr 2.5fr;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 50px;
  box-shadow: 0px 3px 5px grey;
}

.vp1 .vptop,
.vp2 .vptop {
  background-color: rgba(255, 0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  align-items: center;
}

.vptop h5 {
  font-size: 1.6em;
  padding: 20px 10px 0px 10px;
}

.vptop p {
  font-size: 0.9em;
  color: rgb(139, 139, 139);
  padding: 0px 10px 10px 10px;
}

.vpbot1 iframe,
.vpbot2 iframe {
  width: 80%;
  height: 400px;
  margin: 0px auto;
  box-shadow: 0px 0px 3px black;
}

/*  */

/* TXT 5555555555 */

/* TXT 6666666666 */

.txt6 {
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  margin: 50px auto;
  font-family: roboto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border: 1px solid #2872e0;
  border-radius: 5px;
}

.txt6 h3 {
  color: #2872e0;
  font-size: 4em;
  background-color: #2872e000;
  margin: 10px auto;
  padding: 80px 10px 0px 10px;
  font-family: josefin;
}

.txt6 .contact {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #2872e000;
  border-radius: 10px;
  width: 70%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  padding: 100px 180px 100px 180px;
}

.contact i {
  font-size: 30px;
  color: #333;
}

.contact p {
  font-family: roboto;
  font-size: 15px;
  padding: 10px 20px;
  color: rgb(139, 139, 139);
}

.contact .radius {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #2872e0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  transition: 1s;
}

.contact .radius:hover {
  transform: scale(1.1);
}

.contact .mc1,
.contact .mc2,
.contact .mc3,
.contact .mc4,
.contact .mc5,
.contact .mc6 {
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 3px 5px grey;
  border: 1px solid #00000000;
}

/* TXT 6666666666 */

/* TXT 7777777777 */

.txt7 {
  height: 50px;
}

/* TXT 7777777777 */

/* dekorasi */
.line1,
.line2,
.sosmedfix,
.line3 {
  transition: 1s;
}

.lines .line1 {
  background-color: #2872e0;
  width: 1px;
  height: 220px;
  position: fixed;
  top: 745px;
  left: 1800px;
}

.lines .line2 {
  background-color: #2872e0;
  width: 1px;
  height: 200px;
  position: fixed;
  top: 370px;
  left: 85px;
}

.lines .sosmedfix {
  position: fixed;
  top: 575px;
  left: 55px;
}

.sosmedfix .sosmed {
  background-color: rgba(255, 0, 0, 0);
  display: grid;
  grid-template-rows: auto;
  z-index: 999;
  width: 60px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.sosmed a i {
  font-size: 35px;
  color: rgba(182, 182, 182, 0.5);
  text-decoration: none;
  transition: 0.2s;
}

.sosmed a i:hover {
  color: rgb(158, 158, 158);
}

.lines .line3 {
  background-color: #2872e0;
  width: 1px;
  height: 100px;
  position: fixed;
  top: 880px;
  left: 85px;
}
/* dekorasi */

.bot {
  width: 100%;
  background-color: #2872e0;
  text-align: center;
}

.bot p {
  color: white;
  font-size: 1em;
  font-family: serif;
  padding: 25px 0;
}

/* TABLET */

@media (max-width: 1024px) {
  .txt2 .service {
    padding: 0px;
  }

  .txt3 .technology {
    padding: 0;
  }

  .txt4 .work {
    padding: 0;
    border: none;
  }

  .txt4 .edu {
    padding: 0;
    border: none;
  }

  .txt5 .webp1 {
    width: 90%;
    padding: 0;
  }

  .txt5 .sosmedp1 {
    width: 90%;
    padding: 0;
  }

  .txt5 .videop1 {
    width: 90%;
    padding: 0;
  }

  .txt6 .contact {
    padding: 0px;
  }

  /* dekorasi */
  .line1,
  .line2,
  .sosmedfix,
  .line3 {
    transform: translate(-45px);
  }
  /* dekorasi */
}

/* TABLET */

/* TABLET 2 */

@media (max-width: 768px) {
  .menu {
    background-color: #2872e0;
    height: 80px;
    z-index: 9999;
  }

  .menu .logo img {
    margin-left: 10px;
    filter: invert(0%);
  }

  .menu-toggle {
    display: flex;
    z-index: 999;
    right: -350px;
    transition: 1s;
  }

  .menu ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    width: 100%;
    background-color: #2872e0;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 1s;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -10px;
  }

  /* .menu li {
    display: grid;
  } */

  .menu li a {
    color: #ffffff;
    display: grid;
    margin: 0px;
    background-image: linear-gradient(180deg, #2872e0, #1f65ce);
    padding: 10px;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .txt1 {
    text-align: center;
    padding: 200px 0;
    background-position-y: -150px;
    background-size: cover;
    height: 500px;
  }

  .txt1 h3 {
    color: #2872e0;
    font-size: 1em;
  }

  .txt1 h1 {
    color: black;
    font-size: 3em;
  }

  .txt1 h2 {
    color: #2872e0;
    font-size: 1.3em;
  }
  .txt1 p {
    margin: 0px auto;
    width: 500px;
    font-size: 1em;
    text-align: center;
  }

  .txt2 .service {
    padding: 0px;
  }

  .txt2 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt3 .technology {
    padding: 0;
  }

  .txt3 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt4 .work {
    padding: 0;
    border: none;
  }

  .txt4 .edu {
    padding: 0;
    border: none;
  }

  .txt5 .webp1 {
    width: 90%;
    padding: 0;
  }

  .txt5 .sosmedp1 {
    width: 90%;
    padding: 0;
  }

  .txt5 .videop1 {
    width: 90%;
    padding: 0;
  }

  .txt6 .contact {
    padding: 0px;
  }

  /* dekorasi */
  .line1,
  .line2,
  .sosmedfix,
  .line3 {
    transform: translate(-145px);
  }
  /* dekorasi */
}

/* TABLET 2 */

/* Mobile Phone */

@media (max-width: 600px) {
  .menu {
    background-color: #2872e0;
    height: 80px;
    z-index: 9999;
  }

  .menu .logo img {
    margin-left: 30px;
  }

  .menu-toggle {
    display: flex;
    z-index: 999;
    right: -250px;
  }

  .menu ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    width: 100%;
    background-color: #1f65ce;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 1s;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -10px;
  }

  .menu li {
    /* display: grid; */
  }

  .menu li a {
    color: #ffffff;
    display: grid;
    margin: 0px;
    background-image: linear-gradient(180deg, #2872e0, #1f65ce);
    padding: 10px;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(100);
  }

  .txt1 {
    text-align: center;
    padding: 200px 0;
    background-position-y: -150px;
    background-size: cover;
    height: 500px;
  }

  .txt1 h3 {
    color: #2872e0;
    font-size: 1em;
  }

  .txt1 h1 {
    color: black;
    font-size: 3em;
  }

  .txt1 h2 {
    color: #2872e0;
    font-size: 1.3em;
  }
  .txt1 p {
    width: 380px;
    font-size: 1em;
    text-align: center;
  }

  .txt2 .service {
    padding: 0px;
    border: 0px;
  }

  .txt2 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
  }

  .txt3 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
  }

  .txt3 .technology {
    padding: 0;
  }

  .txt4 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt4 .work {
    padding: 0;
    border: none;
  }

  .txt4 .edu {
    padding: 0;
    border: none;
  }

  .txt5 .webp1 {
    width: 90%;
    padding: 0;
  }

  .txt5 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt5 .sosmedp1 {
    width: 90%;
    padding: 0;
  }

  .txt5 .videop1 {
    width: 90%;
    padding: 0;
  }

  .txt6 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt6 .contact {
    padding: 0px;
  }

  /* dekorasi */
  .line1,
  .line2,
  .sosmedfix,
  .line3 {
    transform: translate(-120px);
  }

  .bot {
    width: 100%;
    background-color: #2872e0;
    text-align: center;
  }

  .bot p {
    color: white;
    font-size: 0.8em;
    font-family: serif;
    padding: 20px 0;
  }

  /* dekorasi */
}

/* Mobile Phone */

/* MINI Mobile Phone */

@media (max-width: 400px) {
  .menu {
    background-color: #2872e0;
    height: 80px;
    margin-top: -2px;
    box-shadow: 0px 1px 5px grey;
  }

  .menu .logo img {
    width: 100px;
    height: 40px;
    margin-left: -30px;
  }

  .menu-toggle {
    display: flex;
    z-index: 9999;
    right: -170px;
    margin-top: -1px;
  }

  .menu ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    width: 100%;
    background-color: #1f65ce;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 1s;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -1px;
  }

  .menu li {
    /* display: grid; */
  }

  .menu li a {
    color: #ffffff;
    display: grid;
    margin: 0px;
    background-image: linear-gradient(180deg, #2872e0, #1f65ce);
    padding: 10px;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .txt1 {
    text-align: center;
    padding: 200px 0;
    background-position-y: -100px;
    background-size: cover;
    height: 500px;
  }

  .txt1 h3 {
    color: #2872e0;
    font-size: 1em;
  }

  .txt1 h1 {
    color: black;
    font-size: 3em;
  }

  .txt1 h2 {
    color: #2872e0;
    font-size: 1.3em;
  }
  .txt1 p {
    width: 300px;
    font-size: 1em;
    text-align: center;
  }

  .txt2 .service {
    padding: 0px;
    border: 0px;
  }

  .txt2 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
  }

  .txt3 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
  }

  .txt3 .technology {
    padding: 0;
  }

  .txt4 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt4 .work {
    padding: 0;
    border: none;
  }

  .tas h5,
  .mmg h5,
  .scmi h5,
  .ahm h5 {
    font-size: 15px;
  }

  .tas p,
  .mmg p,
  .scmi p,
  .ahm p {
    font-size: 12px;
  }

  .txt4 .edu {
    padding: 0;
    border: none;
  }

  .srj h5,
  .sma h5 {
    font-size: 15px;
  }

  .srj p,
  .sma p {
    font-size: 12px;
  }

  .txt5 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt5 .webp1 {
    width: 90%;
    padding: 0;
  }

  .wptop h5 {
    font-size: 1em;
    padding: 20px 10px 0px 10px;
  }

  .wptop p {
    font-size: 0.7em;
    padding: 0px 10px 0px 10px;
  }

  .txt5 .sosmedp1 {
    width: 90%;
    padding: 0;
  }

  .sptop h5 {
    font-size: 1em;
  }

  .sptop p {
    font-size: 0.7em;
  }

  .txt5 .videop1 {
    width: 90%;
    padding: 0;
  }

  .vptop h5 {
    font-size: 1.2em;
  }

  .vptop p {
    font-size: 0.7em;
    padding: 10px;
  }

  .vpbot1 iframe,
  .vpbot2 iframe {
    width: 90%;
    height: 200px;
    margin: 0px auto;
    box-shadow: 0px 0px 3px black;
  }

  .txt6 h3 {
    color: #ffffff;
    font-size: 2.5em;
    background-color: #2872e0;
    margin-top: 50px;
    padding: 10px 0px;
  }

  .txt6 .contact {
    padding: 0px;
  }

  /* dekorasi */
  .line1,
  .line2,
  .sosmedfix,
  .line3 {
    transform: translate(-120px);
  }

  .bot {
    width: 100%;
    background-color: #2872e0;
    text-align: center;
  }

  .bot p {
    color: white;
    font-size: 0.8em;
    font-family: serif;
    padding: 15px 0;
  }

  /* dekorasi */
}

/* MINI Mobile Phone */
